.container {
    max-width: 1300px;
    margin: 0 auto;
}

.banner {
    background: url(../assets/image/banner.svg) no-repeat top;
    border-radius: 10px;
    padding: 116px 0 116px 85px;
    margin-bottom: 136px;

    &__box {
        max-width: 493px;
    }

    &__title {
        color: $text-color-light;
        margin-bottom: 31px;
    }

    &__text {
        max-width: 440px;
        color: $text-color-light;
        text-align: left;
        margin-bottom: 56px;
    }
}


.collection {
    @extend %flex;
    margin: 0 auto;
    background: url(../assets/image/collection.png) no-repeat;
    max-width: 1111px;
    padding-top: 126px;
    padding-bottom: 200px;
    gap: 30px;

    &__sorts {
        max-width: 255px;
        @extend %flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        gap: 72px;

        &-info {
            @extend %flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }

        &-title {
            color: $text-color-dark;
        }

        &-text {
            color: $text-color-dark;
        }
    }
}



.choice {
    background-color: $dark-blue;
    height: 577px;
    border-radius: 10px;
    // margin-bottom: 351px;

    &__intro {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 86px;

        &-title {
            color: $text-color-light;
            margin-bottom: 32px;
            @extend %flex;
            text-align: center;
        }

        &-text {
            color: $text-color-light;
        }
    }

    &__options {
        margin: 0 auto;
        max-width: 1110px;
        @extend %flex;
        justify-content: space-around;
        gap: 30px;

        &-boxes {
            max-width: 350px;
            height: 382px;
            background: #0E8784;
            border-radius: 8px;
            @extend %flex;
            padding: 72px 48px 48px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-avto {
                margin-top: 11px;
            }
        }

        &-title {
            color: $text-color-light;
            margin-bottom: 24px;
            text-align: center;
        }

        &-text {
            color: $text-color-light;
        }

    }
}

.order {
    max-width: 1110px;
    padding-top: 351px;
    padding-bottom: 200px;

    &__title {
        color: #83888F;
        margin-bottom: 80px;
        text-align: start;
    }

    &__design {
        font-size: 2px;
        margin-bottom: 82px;
        position: relative;

        &-strip {
            width: 760px;
            height: 2px;
            background-color: $pink;
        }

        &-strip::before {
            content: url(../assets/image/oval.svg);
            position: absolute;
            top: -15px;
        }

        &-strip::after {
            content: url(../assets/image/oval.svg);
            position: absolute;
            top: -15px;
            left: 730px;
        }

        &-oval {
            position: absolute;
            top: -15px;
            left: 380px;
        }
    }

    &__step {
        max-width: 1045px;
        @extend %flex;
        justify-content: space-around;
        gap: 95px;
        margin-bottom: 64px;

        &-content {
            max-width: 285px;
        }

        &-number {
            color: $pink;
            margin-bottom: 38px; 
        }

        &-title {
            max-width: 250px;
            font-size: 32px;
            line-height: 36px;
            color: $text-color-dark;
            text-align: left;
            margin-bottom: 42px;
        }

        &-text {
            color: $text-color-dark;
            text-align: left;
        }
    }
}
