@media (max-width: 375px) {
    .container {
        width: 347px;
        margin: 0 auto;
    }

    // desctop

    .header {
        max-width: 327px;
        padding: 32px 0 40px;

        img {
            width: 163px;
            height: 18px;
        }

        &__menu {
            display: none;
        }

        &__dropbtn {
            width: 16px;
            height: 15px;
            background: none;
            background-image: url(../assets/image/drop_lines.svg);
            border: none;
            cursor: pointer;
            transition: all 0.3s ease 0s;
        }

        &__dropdown {
            display: inline-block;
            position: relative;

            &-content {
                width: 100vw;
                height: 100vh;
                padding-top: 40px;
                background: linear-gradient(0deg, rgba(254, 252, 247, 0.5) 0%, #FEFCF7 70%);
                display: flex;
                flex-direction: column;
                gap: 32px;
                display: none;
                position: absolute;
                right: -50%;
                z-index: 1;
            }

            &-item {
                font-family: 'Fraunces 9pt';
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #333D4B;
                display: block;

            }
        }

        &__dropdown:hover &__dropdown-content {
            display: flex;
        }

        &__dropdown:hover .header__dropbtn {
            width: 14px;
            height: 13px;
            background-image: url(../assets/image/drop_cross.svg);
        }
    }


    .banner {
        background: url(../assets/image/banner-375.svg) no-repeat center top;
        ;
        max-width: 327px;
        padding: 100px 24px;
        margin-bottom: 120px;

        &__box {
            max-width: 280px;
        }

        &__title {
            margin-bottom: 24px;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }

        &__text {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-bottom: 40px;
        }
    }

    .btn {
        margin: 0 auto;
        display: block;
    }

    .collection {
        background: url(../assets/image/collection-375.svg) no-repeat center top;
        ;
        max-width: 375px;
        padding-top: 85px;
        padding-bottom: 120px;
        gap: 48px;

        &__sorts {
            flex-direction: column;
            gap: 24px;

            & img {
                width: 200px;
                height: 151px;
            }

            &-info {
                max-width: 282px;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
            }

            &-text {
                text-align: center;
            }
        }
    }

    .choice {
        height: 902px;

        &__intro {
            max-width: 279px;
            padding: 64px 0;

            &-title {
                font-size: 28px;
                line-height: 28px;
            }

            &-text {
                mix-blend-mode: normal;
                opacity: 0.8;
            }
        }

        &__options {
            max-width: 279px;



            &-boxes {
                width: 279px;
                height: 382px;
                flex-direction: column;
                padding: 72px 12px 51px 12px;
                justify-content: space-between;

                img {
                    width: 72px;
                    max-height: 72px;
                }
            }

            &-info {
                max-width: 255px;
            }

            &-title {
                text-align: center;
                margin-bottom: 24px;
            }

            &-text {
                max-width: 212px;
                text-align: center;
            }
        }
    }

    .order {
        max-width: 327px;
        padding: 717px 0 120px;

        &__title {
            text-align: center;
            margin-bottom: 80px;
        }

        &__design {
            display: none;
        }

        &__step {
            max-width: 327px;
            flex-direction: column;
            gap: 56px;
            margin-bottom: 79px;

            &-content {
                max-width: 327px;
                height: 252px;
            }

            &-number {
                margin-bottom: 24px;
                text-align: center;
            }

            &-title {
                max-width: 327px;
                text-align: center;
                margin-bottom: 24px;
            }

            &-text {
                text-align: center;
            }
        }
    }


    // about

    .bannerabout {
        background: url(../assets/image//banner_about-375.svg) no-repeat top;
        border-radius: 10px;
        max-width: 327px;
        padding: 111px 24px 87px;
        margin-bottom: 207px;

        &__box {
            max-width: 279px;
        }

        &__title {
            text-align: center;
            font-size: 28px;
            line-height: 28px;
        }

        &__text {
            text-align: center;

        }
    }

    .duty {
        background: url(../assets/image/duty_375.jpg) no-repeat top;
        background-size: contain;
        min-height: 924px;
        margin-bottom: 198px;
        flex-direction: column;

        &__box {
            max-width: 327px;
            gap: 30px;
            align-items: center;
            margin-top: 48px;
        }

        &__title {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }


    .quality {
        height: 509px;

        &__box {
            max-width: 279px;
            padding-top: 142px;
        }

        &__title {
            font-size: 28px;
            line-height: 28px;
        }

        &__foto {
            width: 279px;
            height: 156px;
            background: url(../assets/image/quality_375.png);
            background-size: contain;
            position: absolute;
            transform: translateY(-219px);
        }
    }

    .orderabout {
        max-width: 327px;
        padding: 120px 0;
        align-items: center;

        &__step {
            gap: 80px;
            flex-wrap: wrap;

            &-content {
                width: 327px;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            &-title {
                text-align: center;
                font-size: 28px;
                line-height: 36px;
            }

            &-text {
                text-align: center;
            }

        }
    }


    // plan

    .bannerplan {
        background: url(../assets/image/banner_plan_375.png) no-repeat top;
        max-width: 327px;
        height: 400px;
        padding: 101px 24px 136px;
        margin-bottom: 120px;


        &__box {
            max-width: 279px;
        }

        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 22px;
        }

        &__text {
            text-align: center;
        }
    }

    .orderplan {
        min-height: 1028px;

        &__box {
            max-width: 327px;
            padding: 80px 0;
        }

        &__design {
            display: none;
        }

        //  кроки плану 1-3
        &__step {
            gap: 56px;

            &-content {
                max-width: 327px;
                height: 252px;
            }

            &-number {
                max-width: 327px;
                margin-bottom: 24px;
                text-align: center;
            }

            &-title {
                max-width: 327px;
                margin-bottom: 24px;
                text-align: center;
            }

            &-text {
                text-align: center;
            }
        }
    }

    .plan {
        max-width: 328px;
        padding-top: 127px;

        // aside

        &__menu {
            display: none;
        }


        .menu {

            &__content {
                max-width: 328px;
            }
        }

        .preferences {

            &__question {

                &-title {
                    max-width: 240px;
                    font-size: 24px;
                    line-height: 28px;
                    text-align-last: left;
                }
            }

            &__cards {
                margin-top: 36px;
                gap: 16px;

                &-item {
                    max-width: 328px;
                    min-height: 140px;
                    padding: 24px 25px;
                }

                &-title {
                    margin-bottom: 8px;
                }
            }
        }


        .beantype,
        .quantity,
        .grindoption,
        .deliveries {

            &__question {

                &-title {
                    max-width: 240px;
                    font-size: 24px;
                    line-height: 28px;
                    text-align-last: left;
                }
            }

            &__question_img {
                transform: none;
            }

            &__cards {
                margin-top: 36px;
                gap: 16px;

                &-item {
                    max-width: 328px;
                    min-height: 140px;
                    padding: 24px 25px;
                }

                &-title {
                    margin-bottom: 8px;
                }
            }
        }

        .summary {
            margin-top: 20px;
            display: none;
            padding: 32px 24px;
        }

        .fill {
            display: block;
        }

        .right {
            margin: 56px auto 120px;
            display: block;
            float: none;
            background: $blue;
        }

        .right:hover {
            background: #66D2CF;
        }
    }



    .overlay {
        // display: none;

        &__modal {
            max-width: 327px;
            height: 597px;
        }

        &__title {
            max-width: 327px;
            padding: 28px 68px 28px 24px;
        }

        h2 {
            font-size: 28px;
            line-height: 32px;
        }

        &__content {
            padding: 40px 24px 24px 24px;
            color: #83888F;
        }

        h3 {
            line-height: 40px;
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }

        &__buy {
            display: none;
        }

        .big {
            display: block;
            padding-left: 0;
        }
        .btn {
            width: 279px;
        }

    }




}